services:
  backend:
    container_name: backend
    build:
      context: ./backend
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    ports:
      - 8000:8000
  frontend:
    container_name: frontend
    build:
      context: ./frontend
    volumes:
      - ./frontend:/app
      -   /app/node_modules  
    ports:
      - 5173:5173
    depends_on:
      - backend
    

