body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: 
    repeating-linear-gradient(
      45deg,
      #000000,
      #000000 10px,
      #111111 10px,
      #111111 20px
    );
  margin:auto;
  color: black;
}
